* {
	box-sizing: border-box;
	font-family: arial;
	text-align: center;
}


main {
	max-width: 960px;
	margin: 0 auto;
}

p {
	max-width: 1000px;
}

.container {
	padding: 0 30px;
	padding-top: 45px;
}

.answer-correct {
	font-size: 50px;
}

.answer-incorrect {
	font-size: 50px;
}

.choices {
	margin-left: 300px;

}

input {
	margin-right: 5px;
}

li {
	text-align: left;
}
