body {
	font-family: arial;
	text-align: center;
}

h1, .start-button {
	margin-top: 100px;
}

.title {
	font-size: 30px;
}

.start-button {
	font-size: 30px;
}

ul {
	list-style-type: none;
	text-align: left;
	margin-left: 400px;
}

.submit-button {
	font-size: 15px;
	text-align: center;
}

input {
	padding-right: 5px;
}